<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap.min.js"/>
    </head>
    <body id="body">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="./index.html">basar-wolfhagen.de</a>
                    <ul class="nav">
                        <li id="about">
                            <a href="./index.html">Info</a>
                            <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="index.html">Info</a>
                                </li>
                            </ul>-->
                        </li>
                        <li>
                            <a href="#">Registrierung</a>
                        </li>
                        <li>
                            <a href="#">Artikel einpflegen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="container-fluid"/>
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner">
                <ul class="nav">
                    <li>
                        <a href="impressum.html">Impressum</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>